<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/pagination.css" >

    {% include 'style.css' %}
    <title>BhavCopy</title>
  </head>
  <body>

  {% include 'navbar.html' %}

    <div class="container">
      {% block content %}
        <h1>Welcome!</h1><br/>

      <h5>BSE publishes a <a href="https://www.bseindia.com/markets/MarketInfo/BhavCopy.aspx">Bhav Copy file</a> on all market days.
        This <b>CherryPy</b> applicaton downloads the latest <i>Equity bhav copy</i> zip, extracts it and parses the CSV file in it.
        It stores the records using <b>Redis DB</b> and lists the top 10 stock entries.</h5><br/>

        <a href="/top_stocks" class="button">View latest Bhavcopy data</a>
      {% endblock %}
    </div>
  </body>
</html>